.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: white; */
  margin-top: 6px;
  margin-bottom: 6px;
}

.inputText {
  width: 90%;
  padding: 4px;
}